.navbar {
    height: 7vmin;
    width: 100vw;
    background-color: burlywood;
    text-align: center;
    top: 0;
    font-family: League Spartan;
    color: white;
}


.icon-cont{
    position: absolute;
    top: 0;
    left: 0;
    height: 7vmin;
    display: flex;
    align-items: center;
    font-size: 3vmin;
}

i {
    margin-left: 2vmin;
    color: yellow;
}

i:hover {
    cursor: pointer;
}

.nav-title {
    margin: 0;
    font-size: 3vmin;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    font-family: League Spartan;
}


@media only screen and (max-width: 500px) {


    .nav-title {
        margin: 0;
        font-size: 5vmin;
        padding-top: 8vmin;
        padding-bottom: 2vmin;
        font-family: League Spartan;
    }

    .navbar {
        height: 20vmin;
        width: 100vw;
        background-color: burlywood;
        text-align: center;
        top: 0;
        font-family: League Spartan;
        color: white;
    }

    .icon-cont{
        position: absolute;
        top: 0;
        left: 0;
        height: 20vmin;
        display: flex;
        align-items: center;
        font-size: 5vmin;
        margin-left: 2vmin;
    }
    
    i {
        margin-left: 2vmin;
        color: yellow;
    }
    
    i:hover {
        cursor: pointer;
    }
}

