span {
    top: 0;
    right: 0;
    font-size: 2vmin;
    margin-right: 2vmin;
    position: relative;
    transition: transform 250ms ease-in-out;
}

span:hover {
    cursor: pointer;
    transform: scale(1.2);
}

span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.2vmin;
    background-color: currentColor;

    transform: scale(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

span:hover::after {
    transform: scale(1);
    transform-origin: left;
}


.btn-cont {
    position: absolute;
    top: 0;
    right: 0;
    height: 7vmin;
    display: flex;
    align-items: center;
}
