.modal-create {
    background-color: #F8D512 !important;
    width: 50vw;
    height: 50vw;
    text-align: center;
    padding: 3vw;
    padding-top: 0;
    overflow: hidden;
}

.submit-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: 4vmin;
}

.confirm-icon {
    color: black;
    margin: 0;
    padding: 0;
    
}

.confirm-icon:hover {
    cursor: pointer;
    
    color: #61FF33;
}


.color-picker-cont {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    background-color: grey;
    margin: 1vw;
    
}

.color-square {
    position: absolute;
    right: 0;
    margin: 1vw;
    width: 3vw;
    height: 3vw;
    border-radius: 10vmin;
}

.color-block {
    width: 3vw;
    height: 3vw;
    margin: 1vw;
    border-radius: 10vmin;
}