.board {
    margin-top: 5vmin;
    width: 80vw;
    min-height: 80vh;
    background: url("../../images/cork.jpg");
    margin-left: auto;
    margin-right: auto;
    border-image-source: url("../../images/border.png");
    border-image-slice: 40% fill;
    border-image-width: 30%;
    border-image-repeat: round;
    box-shadow: 0 0 5vmin black;
    
}

.todo-container {
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    row-gap: 2vw;
    

}

.todo-item {

    position: relative;
    height: 14.5vw;
    width: 14.5vw;
    padding-top: 4vmin;
    padding-bottom: 4vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
    box-shadow: 1vmin 1vmin 2vmin;
    transition: 250ms ease-in;
}

@media only screen and (max-width: 500px) {
    .todo-container {
        padding-top: 12vw;
        padding-bottom: 12vw;
        padding-left: 8vw;
        padding-right: 8vw;
        display: flex;
        flex-wrap: wrap;
        gap: 6vw;
        row-gap: 2vw;
        
    
    }
    
    .todo-item {
    
        position: relative;
        height: 29vw;
        width: 29vw;
        padding-top: 4vmin;
        padding-bottom: 4vmin;
        padding-left: 2vmin;
        padding-right: 2vmin;
        box-shadow: 1vmin 1vmin 2vmin;
        transition: 250ms ease-in;
    }

    .note-text {

        font-size: 3.5vmin !important;
        height: calc(29vw - 8vmin) !important;
        overflow: scroll;
    }
  }

.todo-item:hover {
    cursor: pointer;
    background-color: lightgrey;
}


.note-text {
    
    color: white;
    font-size: 2vmin;
    text-align: center;
    margin: 0;
    height: calc(14.5vw - 8vmin);
    overflow: hidden;
}

.todo-item-btn-cont {
    position: absolute;
    right: 0;
    bottom: 1vmin;
    font-size: 2.5vmin;
    display: flex;
    align-items: center;
    margin-right: 1vmin;
}

i {
    padding-left: 0.3vmin;
    padding-right: 0.3vmin;
}