.board {
    margin-top: 5vmin;
    width: 80vw;
    min-height: 80vh;
    background: url("../../images/cork.jpg");
    margin-left: auto;
    margin-right: auto;
    border-image-source: url("../../images/border.png");
    border-image-slice: 40% fill;
    border-image-width: 30%;
    border-image-repeat: round;
    box-shadow: 0 0 5vmin black;
    
}

.todo-container {
    padding: 10vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 4vmin;
    justify-content: center;
    position: relative;
}

.todo-item {

    display: flex;
    position: relative;
    height: 14vw;
    width: 14vw;
    padding: 2vmin;
    padding-bottom: 3vmin;
    align-items: center;
    justify-content: center;
    
    box-shadow: 1vmin 1vmin 2vmin;
    white-space: normal;
    

    transition: 250ms ease-in;
}

.todo-item:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.todo-item-name {
    
    font-size: 2vmin;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center;
}

.todo-item-btn-cont {
    position: absolute;
    right: 0;
    bottom: 1vmin;
    font-size: 2.5vmin;
    display: flex;
    align-items: center;
    margin-right: 1vmin;
}

i {
    padding-left: 0.3vmin;
    padding-right: 0.3vmin;
}